<div id="content">
	<div class="container clearfix">	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">

					<div class=" clearfix">				

						<table cellspacing="0" class="cart" id="cart">
						<caption>Confirme as informações do seu pedido e selecione uma opção de entrega</caption>
						<tbody>
							<tr>
								<td class="desc"  style="background: none repeat scroll 0 0 #F9F9F9">
									<ul class="details">
										<li class="strong"><strong>Endereço de entrega:</strong> ( <a href="<%=minha_conta_dados_path%>" style="text-decoration:underline">Alterar</a> )</li>
										<li><%=current_user.user_address.endereco%>, <%=current_user.user_address.numero%> <%=current_user.user_address.complemento%></li>
										<li>CEP: <%=current_user.user_address.cep%></li>
										<li><%=current_user.user_address.cidade%> - <%=current_user.user_address.estado%></li>
										<li>
									</ul>

								</td>
								<td class=""  style="background: none repeat scroll 0 0 #F9F9F9"></td>
							</tr>

							<% @variations.each do |v| %>
							<tr>
							<td class="desc">
								<a title="<%=v[:variation].product.name%>" href="<%=product_url v[:variation].product%>" class="prodImg"> <img alt="<%=v[:variation].product.name%>" src="<%=v[:variation].color.assets.first.photo.url(:thumb)%>">
								</a>
								
							<ul class="details">
								
							<li class="strong"><strong><a title="<%=v[:variation].product.name%>" href="<%=product_url v[:variation].product%>" class="name strong"><%=v[:variation].product.name%></a></strong></li>
							<li><b>Cor:</b> <%=v[:variation].color.name%></li>
							<li><b>Tamanho:</b> <%=v[:variation].size.size%></li>
							</ul>
							</td>
							<td class="amt">
							<%=currency v[:variation].product.price%>
							</td>
							</tr>
							<% end %>

						</tbody>
						<tfoot>
						<tr>
						<td colspan="1" class="sum">Subtotal (<%=@variations.length.to_s%> ítens):</td>
						<td class="amt"><%= currency @total%></td>
						</tr>
						<tr>
						<td colspan="1" class="sum">Frete:</td>
						<td class="amt"><ul class="">
							<% @frete.each do |f| %>
							<%
							checked = ""
							if (@frete_type.blank?)
								if (f[:type]=="pac")
									checked = " checked"
								end
							else
								if (@frete_type==f[:type])
									checked = " checked"
								end
							end
								
							
							%>
							<li><input name="frete" type="radio" value="<%=f[:val] %>|<%=f[:days] %>|<%=f[:type] %>" onclick="Cart.SetFrete();" <%=checked%> > <%=f[:type] %> - <%=currency f[:val] %></li>
							<% end %>
						</ul>
						</td>
						</tr>
						<tr>
						<td colspan="1" class="sum">Prazo de entrega:</td>
						<td class="amt"><span id="spnPrazo"></span></td>
						</tr>

						<tr id="total">
						<td colspan="1" class="sum">Total:</td>
						<td class="amt"><span id="spnTotal"><%= currency @total%></span></td>
						</tr>
						</tfoot>
						</table>
						<table cellspacing="0" class="cart" id="cart">
						<caption>Forma de pagamento</caption>
						<tfoot>
						<tr>
						<td class="sum"></td>
						<td><input type="radio" name="payment_type" id="payment_type_paypal" value="paypal"></td>
						<td style="padding-top:10px"><a href="javascript:Cart.SetPayment('paypal')"><img src="//s3.amazonaws.com/annak-loja/assets/site/img/botao-paypal.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!"></a></td>
						<td><input type="radio" name="payment_type" id="payment_type_pagseguro" value="pagseguro"></td>
						<td style="padding-top:5px"><a href="javascript:Cart.SetPayment('pagseguro')"><img src="//s3.amazonaws.com/annak-loja/assets/site/img/botao-pagseguro.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!"></a></td>
						<td class="amt"></td>
						</tr>
						<tr>
							<td></td>
							<td colspan="6" align="left" style="text-align:left">
								<div class="checkout" style="display:none;" id="dvCheckout">
									<label class="error" id="erroPagamento" style="display:none;">Selecione uma forma de pagamento.</label>
									<div id="msgPagamento">
									<br>
									<img src="/img/loading-circle.gif" alt="Carregando" align=left style="padding:2px 10px 0 0">Aguarde. Seu pedido está sendo processado.<br>
									Em instantes você será direcionado para o meio de pagamento selecionado.
									</div>
								</div>
							</td>
						</tr>
						<tr>
						<td colspan="6" class="sum" style="text-align:center; padding-top:20px">
							<a class="btn action" style=" color: #fff" href="javascript:;" onclick="Cart.Pay();">Finalizar meu pedido<span></span></a>
							</td>
						</tr>
						</tfoot>
						</table>
						
						<input type="hidden" name="shipping_val" id="shipping_val" value="">
						<input type="hidden" name="shipping_type" id="shipping_type" value="">
						<input type="hidden" name="shipping_estimate" id="shipping_estimate" value="">

						<input type="hidden" name="subtotal" id="subtotal" value="<%= @total%>">
						<input type="hidden" name="total" id="total" value="<%= @total%>">
						</form>
						
						<div class="clear"></div>

					</div>
					
				</div> <!-- #left-column -->
	
				<div id="sidebar">

					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="frm_paypal"> 
<input type="hidden" name="cmd" value="_cart"> 
<input type="hidden" name="upload" value="1"> 
<input type="hidden" name="business" value="loja@annak.com.br"> 
<% counter = 0%>
<% @variations.each do |v| %>
<% counter = counter +1%>
<input type="hidden" name="item_name_<%=counter%>" value="<%=v[:variation].product.name%>">
<input type="hidden" name="amount_<%=counter%>" value="<%=v[:variation].product.price%>"> 
<% end%>

<input type="hidden" name="shipping_1" value="2.00"> 

<input type="hidden" name="currency_code" value="BRL"> 
<input type="hidden" name="address_override" value="1"> 
<input type="hidden" name="address1" value="<%= current_user.user_address.endereco %>, <%= current_user.user_address.numero %> <%= current_user.user_address.complemento %>"> 
<input type="hidden" name="address2" value="<%= current_user.user_address.bairro %>"> 
<input type="hidden" name="city" value="<%= current_user.user_address.cidade %>"> 
<input type="hidden" name="state" value="<%= current_user.user_address.estado %>"> 
<input type="hidden" name="country" value="BR"> 
<input type="hidden" name="zip" value="<%= current_user.user_address.cep %>"> 
<input type="hidden" name="lc" value="BR"> 
<input type="hidden" name="invoice" id="invoice" value="1"> 

</form>

<form method="post" action="https://pagseguro.uol.com.br/checkout/checkout.jhtml" id="frm_pagseguro">
<input type="hidden" name="email_cobranca" value="loja@annak.com.br">
<input type="hidden" name="tipo" value="CP">
<input type="hidden" name="moeda" value="BRL">
<input type="hidden" name="ref_transacao" value="">


<% counter = 0%>
<% @variations.each do |v| %>
<% counter = counter +1%>

<input type="hidden" name="item_id_<%=counter%>" value="<%=v[:variation].product.code%>">
<input type="hidden" name="item_descr_<%=counter%>" value="<%=v[:variation].product.name%>">
<input type="hidden" name="item_quant_<%=counter%>" value="1">
<input type="hidden" name="item_valor_<%=counter%>" value="<%=currency_val v[:variation].product.price%>">
<input type="hidden" name="item_peso_<%=counter%>" value="0">

<% end%>

<input type="hidden" name="item_frete_1" value="10,00">
<input type="hidden" name="tipo_frete" value="EN">

<input type="hidden" name="cliente_nome" value="<%= current_user.user_info.name %>">
<input type="hidden" name="cliente_cep" value="<%= current_user.user_address.cep %>">
<input type="hidden" name="cliente_end" value="<%= current_user.user_address.endereco %>">
<input type="hidden" name="cliente_num" value="<%= current_user.user_address.numero %>">
<input type="hidden" name="cliente_compl" value="<%= current_user.user_address.complemento %>">
<input type="hidden" name="cliente_bairro" value="<%= current_user.user_address.bairro %>">
<input type="hidden" name="cliente_cidade" value="<%= current_user.user_address.cidade %>">
<input type="hidden" name="cliente_uf" value="<%= current_user.user_address.estado %>">
<input type="hidden" name="cliente_pais" value="BRA">
<input type="hidden" name="cliente_ddd" value="<%= current_user.user_info.phone_ddd %>">
<input type="hidden" name="cliente_tel" value="<%= current_user.user_info.phone_number %>">
<input type="hidden" name="cliente_email" value="<%= current_user.email %>">


</form>

<script type="text/javascript" src="/js/sacola.js"></script>
<script type="text/javascript">

Cart = {
	Submited: false,
	SetFrete: function() {
		
		data = $('input:radio[name=frete]:checked').val();
		dataArray = data.split("|");
		frete = Number(dataArray[0]);
		prazo = dataArray[1];
		tipo = dataArray[2];
		total = parseFloat(frete) + parseFloat($("#subtotal").val());
		
		$("#frm_paypal input:hidden[name=shipping_1]").val(frete);
		$("#frm_pagseguro input:hidden[name=item_frete_1]").val(frete.toCurrency());
		if (tipo=="pac") {
			$("#frm_pagseguro input:hidden[name=tipo_frete]").val("EN");
		} else {
			$("#frm_pagseguro input:hidden[name=tipo_frete]").val("SD");			
		}
		
		$("#spnPrazo").html(prazo + ' dias úteis');
		$("#spnTotal").html('R$ ' + total.toCurrency());

		$("#shipping_val").val(frete);
		$("#shipping_type").val(tipo);		
		$("#shipping_estimate").val(prazo);
		
	},
	SetPayment: function(type) {
		$("#payment_type_" + type).attr('checked', 'checked');
	},
	Pay: function(){
		
		$("#dvCheckout").show();
		
		if ( $('input:radio[name=payment_type]:checked').val() == undefined ) {
			$("#erroPagamento").show();
			$("#msgPagamento").hide();
			return;
		}
		
		$("#erroPagamento").hide();
		$("#msgPagamento").show();
		
		if (Cart.Submited) return;
		Cart.Submited = true;
		
		$.ajax({
			type: "GET",
		  url: "<%= sacola_placeorder_path %>",
		  data: "shipping_val=" + $("#shipping_val").val() +
				"&shipping_type=" + $("#shipping_type").val() +
				"&shipping_estimate=" + $("#shipping_estimate").val() +
				"&payment_type=" + $('input:radio[name=payment_type]:checked').val(),
			dataType: "json",
			success: function (result) {
				if (result.status == 1) {
					order_number = result.data.order_number;
					$("#frm_paypal input:hidden[name=invoice]").val(order_number);
					$("#frm_pagseguro input:hidden[name=ref_transacao]").val(order_number);					
					$("#frm_" + result.data.payment_type).submit();

				} else {
					alert('erro');
				}
			}
		});
	}
}

$(document).ready(function() {
	Cart.SetFrete();
});
</script>