<div id="content">
	<div class="container clearfix">	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">

					<div class="post clearfix">				

						<table cellspacing="0" class="cart" id="cart">
						<caption>Minha sacola de compras</caption>
						<thead>
						<tr>
						<th class="desc">Produtos</th>
						<th>Preço unitário</th>
						<th>Quantidade</th>
						<th class="amt">Preço</th>
						</tr>
						</thead>
						<tfoot>
						<tr id="subtotal">
						<td colspan="3" class="sum">Subtotal (<%=@variations.length.to_s%> items):</td>
						<td class="amt"><%= currency @total%></td>
						</tr>
						<tr id="shipping">
						<td colspan="3" class="sum">	Simular Frete. Cep: <input type="text" id="cep"> <input type="button" value="Calcular" onclick="Cart.CalculaFrete();">
						
						Standard Overnight Shipping:</td>
						<td class="amt">Free</td>
						</tr>
						<tr id="total">
						<td colspan="3" class="sum">Total:</td>
						<td class="amt"><%= currency @total%></td>
						</tr>
						</tfoot>
						<tbody>
						<% @variations.each do |v| %>
						<tr class="" id="stockId-15990750">
						<td class="desc">
						<a title="Tommy Bahama Key Grip Short" href="/tommy-bahama-key-grip-short-bean" class="prodImg"> <img alt="Tommy Bahama Key Grip Short" src="<%=v[:variation].color.assets.first.photo.url(:related)%>">
						</a>
						<h3><a title="<%=v[:variation].product.name%>" href="/tommy-bahama-key-grip-short-bean" class="name"><%=v[:variation].product.name%></a></h4>
						<ul class="details">
						<li><b>Código:</b> #7388616</li>
						<li><b>Cor:</b> <%=v[:variation].color.name%></li>
						<li><b>Tamanho:</b> <%=v[:variation].size.size%></li>
						</ul>
						</td>
						<td class="each">
						<%=currency v[:variation].product.price%>
						<h5 class="stockMsg"></h5>
						<p class="note"></p>
						</td>
						<td class="qty">
						1
						<p class="moveFromCart">
						<a href="<%=sacola_remove_path%>?id=<%=v[:variation].id.to_s%>" class="remove gae-click*Cart*Cart-Update*Remove-Item">Remove</a>
						
						</p>
						</td>
						<td class="amt">
						<%=currency v[:variation].product.price%>
						</td>
						</tr>
						<% end %>
						</tbody>
						</table>

						<div class="cartopt"><input type="hidden" value="true" name="save">
							<p><label for="update"><input type="submit" value="Update Cart" name="update" id="update" class="button"></label><label for="unset"><input type="submit" value="Empty Cart" name="unset" id="unset" class="button"></label></p>
						</div>
						

						<ul class="continue-proceed"><li><a href="<%= root_path %>">« Continue Shopping</a></li><li><a href="<%= sacola_checkout_path %>">Proceed to Checkout »</a></li></ul>
						<div class="clear"></div>

					</div>
					
				</div> <!-- #left-column -->
	
				<div id="sidebar">

					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>

<script type="text/javascript">

Cart = {

	CalculaFrete: function(){
		alert('Calcula');
		$.ajax({
			type: "POST",
		  url: "<%= sacola_frete_path %>",
		  data: "cep=" + $("#cep").val(),
			dataType: "json",
			success: function (result) {
				if (result.status == 1) {
					alert(result.data.val);
				} else {
					alert('erro');
				}
			}
		});
	}
}

$(document).ready(function() {

	
});
</script>