<div id="content">
	<div class="container clearfix">

		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					
					<table cellspacing="0" class="cart" id="cart">
					<caption>Formulário de alteração de senha</caption>
					</table>
					
					<div class="" style="float:left;padding: 8px 50px 34px 42px; ">

						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => "pass_edit", :class => "stdForm" }) do |f| %>
						<fieldset class="stdC" id="accountInfo">

						  <%= devise_error_messages! %>

							<li>
								<%= f.label :current_password,'Senha atual',:class => "fGrp" %>
								<%= f.password_field :current_password %> <p class="fNote">Sua senha atual.</p>
							</li>
							<li>
								<%= f.label :password,'Nova Senha',:class => "fGrp" %>
								<%= f.password_field :password %> <p class="fNote">Senha de acesso. Deve conter no mínimo 4 caracteres.</p>
							</li>
							<li>
								<%= f.label :password_confirmation,'Confirmação de senha',:class => "fGrp" %>
								<%= f.password_field :password_confirmation %> <p class="fNote">Confirme a nova senha escolhida.</p>
							</li>						
						</ol>
						</fieldset>

						<a class="btn action" style="float:left; color: #fff" href="javascript:;" onclick="$('#pass_edit').submit();">Alterar minha senha<span></span></a>

						<% end %>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	


	
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/messages_ptbr.js"></script>
	<script type="text/javascript" src="//s3.amazonaws.com/annak-loja/assets/site/js/jquery.maskedinput-1.3.min.js"></script>
	
	
<script type="text/javascript">
$.validator.setDefaults({
	submitHandler: function(form) { 
		form.submit();
	}
});


$("#pass_edit").validate({
	rules: {
		'user[current_password]': {
			required: true
		},
		'user[password]': {
			required: true,
			minlength: 4
		},
		'user[password_confirmation]': {
			required: true,
			equalTo: "#user_password"
		}
	},
	messages: {
		'user[current_password]': {
			required: "Informe sua senha atual."
		},
		'user[password]': {
			required: "Informe uma nova senha.",
			minlength: "Informe uma nova senha que contenha no mínimo 4 caracteres."
		},
		'user[password_confirmation]': {
			required: "Confirme sua nova senha.",
			equalTo: "As senhas informadas não conferem."
		}
	}
});

	
</script>