<div id="content">
	<div class="container clearfix">

		<div id="main-area">
			<div class="clearfix" id="main-content">
				
<h2>Sign up hahaha</h2>
<%resource.build_user_info%>
<%resource.build_user_address%>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>


  <%= f.fields_for :user_info do |f_info| %>

  	<p><%= f_info.label :name %><br />
  	<%= f_info.text_field :name %></p>

  	<p><%= f_info.label :cpf %><br />
  	<%= f_info.text_field :cpf %></p>

  	<p><%= f_info.label :phone_ddd %><br />
  	<%= f_info.text_field :phone_ddd %></p>

  	<p><%= f_info.label :phone_number %><br />
  	<%= f_info.text_field :phone_number %></p>

  <% end %>

  <%= f.fields_for :user_address do |f_address| %>

  	<p><%= f_address.label :cep %><br />
  	<%= f_address.text_field :cep %></p>

  	<p><%= f_address.label :endereco %><br />
  	<%= f_address.text_field :endereco %></p>

  	<p><%= f_address.label :numero %><br />
  	<%= f_address.text_field :numero %></p>

  	<p><%= f_address.label :complemento %><br />
  	<%= f_address.text_field :complemento %></p>

  	<p><%= f_address.label :bairro %><br />
  	<%= f_address.text_field :bairro %></p>

  	<p><%= f_address.label :cidade %><br />
  	<%= f_address.text_field :cidade %></p>

  	<p><%= f_address.label :estado %><br />
  	<%= f_address.text_field :estado %></p>

  <% end %>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

				</div>
			</div>
		</div>
	</div>