<div id="content">
	<div class="container clearfix">

		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					
					<table cellspacing="0" class="cart" id="cart">
					<caption>Crie sua conta na loja online Annak</caption>
					</table>
					
					<div class="" style="float:left;padding: 8px 50px 34px 42px; ">
<%cep = get_session_cep%>
<%logradouro=get_logradouro_from_cep cep%>
						<%resource.build_user_info%>
						<%resource.build_user_address%>

						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "stdForm" }) do |f| %>
						<fieldset class="stdC" id="accountInfo">
						
						  <%= devise_error_messages! %>

							<li>
								<%= f.label :email, "E-mail"  %>
								<%= f.text_field :email %> <p class="fNote">Seu endereço de e-mail.</p>
							</li>
							<li>
								<%= f.label :password,'Senha',:class => "fGrp" %>
								<%= f.text_field :password %> <p class="fNote">Senha de acesso. Deve conter no mínimo 4 caracteres.</p>
							</li>
							<li>
								<%= f.label :password_confirmation,'Confirmação de senha',:class => "fGrp" %>
								<%= f.text_field :password_confirmation %> <p class="fNote">Confirme a senha escolhida.</p>
							</li>						
						<ol>
							<%= f.fields_for :user_info do |f_info| %>
							<li>
								<%= f_info.label :name, 'Nome Completo' %>
								<%= f_info.text_field :name, :style=>"width:400px" %> <p class="fNote">Seu nome completo.</p>
							</li>
							<li>
								<%= f_info.label :cpf %>
								<%= f_info.text_field :cpf %> <p class="fNote">Necessário para emissão de nota fiscal.</p>
							</li>
							<li>
								<%= f_info.label :phone_number, 'Telefone de contato' %>
								<%= f_info.text_field :phone_ddd, :size=>2, :style=>"width:30px" %><%= f_info.text_field :phone_number, :style=>"width:155px" %> <p class="fNote">Caso ocorra algum imprevisto com seu pedido.</p>
							</li>
							<% end %>
							<%= f.fields_for :user_address do |f_address| %>
							<li>
								<%= f_address.label :cep, 'Cep'%>
								<%= f_address.text_field :cep, :value=>cep %> <p class="fNote">Cep do local de entrega do pedido.</p>
							</li>
							<li>
								<%= f_address.label :endereco, 'Endereço de entrega' %>
								<%= f_address.text_field :endereco, :value=>logradouro.nome, :style=>"width:400px" %> <p class="fNote">Endereço completo. ex: Av Paulista, 100 cj 10</p>
							</li>
							<li>
								<%= f_address.label :cidade %>
								<%= f_address.text_field :cidade, :value=>logradouro.bairro.cidade.nome %> <p class="fNote"></p>
							</li>
							<li>
								<%= f_address.label :estado %>
								<select name="user[user_address_attributes][estado]" id="user_user_address_attributes_estado">
													<option value="">Clique para selecionar</option>
													<option value="AC" <%if (logradouro.bairro.cidade.uf.sigla=="AC")%>selected="selected"<%end%>>AC</option>
													<option value="AL" <%if (logradouro.bairro.cidade.uf.sigla=="AL")%>selected="selected"<%end%>>AL</option>
													<option value="AM" <%if (logradouro.bairro.cidade.uf.sigla=="AM")%>selected="selected"<%end%>>AM</option>
													<option value="AP" <%if (logradouro.bairro.cidade.uf.sigla=="AP")%>selected="selected"<%end%>>AP</option>
													<option value="BA" <%if (logradouro.bairro.cidade.uf.sigla=="BA")%>selected="selected"<%end%>>BA</option>
													<option value="CE" <%if (logradouro.bairro.cidade.uf.sigla=="CE")%>selected="selected"<%end%>>CE</option>
													<option value="DF" <%if (logradouro.bairro.cidade.uf.sigla=="DF")%>selected="selected"<%end%>>DF</option>
													<option value="ES" <%if (logradouro.bairro.cidade.uf.sigla=="ES")%>selected="selected"<%end%>>ES</option>
													<option value="GO" <%if (logradouro.bairro.cidade.uf.sigla=="GO")%>selected="selected"<%end%>>GO</option>
													<option value="MA" <%if (logradouro.bairro.cidade.uf.sigla=="MA")%>selected="selected"<%end%>>MA</option>
													<option value="MG" <%if (logradouro.bairro.cidade.uf.sigla=="MG")%>selected="selected"<%end%>>MG</option>
													<option value="MS" <%if (logradouro.bairro.cidade.uf.sigla=="MS")%>selected="selected"<%end%>>MS</option>
													<option value="MT" <%if (logradouro.bairro.cidade.uf.sigla=="MT")%>selected="selected"<%end%>>MT</option>
													<option value="PA" <%if (logradouro.bairro.cidade.uf.sigla=="PA")%>selected="selected"<%end%>>PA</option>
													<option value="PB" <%if (logradouro.bairro.cidade.uf.sigla=="PB")%>selected="selected"<%end%>>PB</option>
													<option value="PE" <%if (logradouro.bairro.cidade.uf.sigla=="PE")%>selected="selected"<%end%>>PE</option>
													<option value="PI" <%if (logradouro.bairro.cidade.uf.sigla=="PI")%>selected="selected"<%end%>>PI</option>
													<option value="PR" <%if (logradouro.bairro.cidade.uf.sigla=="PR")%>selected="selected"<%end%>>PR</option>
													<option value="RJ" <%if (logradouro.bairro.cidade.uf.sigla=="RJ")%>selected="selected"<%end%>>RJ</option>
													<option value="RN" <%if (logradouro.bairro.cidade.uf.sigla=="RN")%>selected="selected"<%end%>>RN</option>
													<option value="RO" <%if (logradouro.bairro.cidade.uf.sigla=="RO")%>selected="selected"<%end%>>RO</option>
													<option value="RR" <%if (logradouro.bairro.cidade.uf.sigla=="RR")%>selected="selected"<%end%>>RR</option>
													<option value="RS" <%if (logradouro.bairro.cidade.uf.sigla=="RS")%>selected="selected"<%end%>>RS</option>
													<option value="SC" <%if (logradouro.bairro.cidade.uf.sigla=="SC")%>selected="selected"<%end%>>SC</option>
													<option value="SE" <%if (logradouro.bairro.cidade.uf.sigla=="SE")%>selected="selected"<%end%>>SE</option>
													<option value="SP" <%if (logradouro.bairro.cidade.uf.sigla=="SP")%>selected="selected"<%end%>>SP</option>
													<option value="TO" <%if (logradouro.bairro.cidade.uf.sigla=="TO")%>selected="selected"<%end%>>TO</option>
								</select>
								<p class="fNote"></p>
							</li>
							<% end %>
						</ol>
						</fieldset>
						
						<a class="btn action" style="float:left; color: #fff" href="javascript:;" onclick="document.forms[1].submit();">Criar minha conta<span></span></a>

						<% end %>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="//s3.amazonaws.com/annak-loja/assets/site/js/jquery.maskedinput-1.3.min.js"></script>
	
<script type="text/javascript">

	$(document).ready(function() {
		$("#user_user_info_attributes_cpf").mask("999.999.999-99");
		$("#user_user_info_attributes_phone_ddd").mask("99");
		$("#user_user_info_attributes_phone_number").mask("9999-9999");
		$("#user_user_address_attributes_cep").mask("99999-999");
	});
	</script>