  <div class="fields">
    <%= f.label :name, "Cor" %><br />
    <%= f.text_field :name %>

		<div class="field">
		<%= f.file_field :swatch %>
	  </div>

	  <% f.fields_for :assets do |builder| %>
	    <%= render "asset_fields", :f => builder %>
	  <% end %>

		<p><%= link_to_add_fields "Add Asset", f, :assets %></p>




  	<%= link_to_remove_fields "remove", f %>




  </div>
 
