  <div class="fields">
    <%= f.label :size, "Tamanho" %>: <%= f.text_field :size %><br />
    <%= f.label :position, "Position" %>: <%= f.text_field :position %><br />
    <%= f.label :sizeBust, "Busto" %>: <%= f.text_field :sizeBust %><br />
    <%= f.label :sizeHip, "Quadril" %>: <%= f.text_field :sizeHip %><br />

  	<%= link_to_remove_fields "remove", f %>

  </div>
 
