<div id="content">
	<div class="container clearfix">

		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					<div class="post clearfix">				
<!-- 						<span class="band outofstock"></span>-->
						<div id="product-slider">
							<div id="product-slides">
								<div class="item-slide" >
									<a href='<%=@product.assets.first.photo.url%>' class='cloud-zoom' id='zoom1' rel="adjustX: 0, adjustY:-20, zoomWidth:400, zoomHeight:400, tint:'#000000',tintOpacity:0.5 ,smoothMove:5">
									<img alt="" src="<%=@product.assets.first.photo.url(:medium)%>">
									<span class="overlay"></span>
									</a>
								</div> <!-- .item-slide -->
							</div> <!-- #product-slides -->
							<div id="product-thumbs">
<% 
counter = 0
@product.assets.each_with_index do |asset, i|
	counter += 1
	cl =  (counter==1) ? "active" : "";
	%>
								<a rel="order:<%=counter%>,useZoom: 'zoom1', smallImage: '<%=asset.photo.url(:medium)%>' " class="<%=cl%> cloud-zoom-gallery" href="<%=asset.photo%>"><img alt="" src="<%=asset.photo.url(:thumb)%>"><span class="overlay"></span></a>
<% end %>
<% 

@product.colors.each do |color|
	color.assets.each_with_index do |color_asset, i| 
			counter += 1
		%>
								<a rel="order:<%=counter%>,useZoom: 'zoom1', smallImage: '<%=color_asset.photo.url(:medium)%>' " class="cloud-zoom-gallery" href="<%=color_asset.photo%>" ><img alt="" src="<%=color_asset.photo.url(:thumb)%>"><span class="overlay"></span></a>
<% 
	end 
end %>
							</div> <!-- #product-thumbs -->
						</div> <!-- #product-slider -->
						<div class="product-info">
							<h2 class="title" style="text-indent: 0px;"><%=@product.name%></h2>		
							<div class="clearfix">
								<span class="price-single" style="text-indent: 0px;"><span><cufon class="cufon cufon-canvas" alt="<%=currency @product.price%>" style="width: 57px; height: 30px;"><canvas width="67" height="34" style="width: 67px; height: 34px; top: -3px; left: -1px;"></canvas><cufontext><%=currency @product.price%></cufontext></cufon></span></span>
								<div class="dnone">
									<div id="examplePopup">
										<form class="eshop addtocart" method="post" action="http://elegantthemes.com/preview/eStore/?page_id=415">
											<fieldset>
												<legend><span class="offset">Order Duis porttitor sodales ipsum</span></legend>
												<label for="eoptasdf134"><select name="option" id="eoptasdf134"><option value="1">Designer Pillows @ £35.95</option>
</select></label><label class="qty" for="qtyasdf134"><dfn title="Quantity">Qty</dfn>:</label>
												<input type="text" class="iqty" name="qty" size="3" maxlength="3" id="qtyasdf134" value="1">
												<input type="hidden" value="" name="pclas">
												<input type="hidden" value="Duis porttitor sodales ipsum" name="pname">
												<input type="hidden" value="asdf134" name="pid">
												<input type="hidden" value="http://elegantthemes.com/preview/eStore/?p=51" name="purl">
												<input type="hidden" value="51" name="postid"><input type="submit" title="Add selected item to your shopping basket" value="Add to Cart" class="button">
											</fieldset>
										</form>
									</div>
								</div>
							</div>
	
							<div class="description">

								<div class="info_title">Medidas:</div>
								<table summary="Tabela de medidas" id="t_medidas">
									<thead>
										<tr>
											<th scope="col"></th>
<% @product.sizes.each do |size| %>
											<th scope="col" class="t_<%=size.size%>"><%=size.size%></th>
<% end %>
										</tr>
									</thead>
									<tbody>
										<% if (!@product.sizes.first.sizeBust.blank?) %>
										<tr>
											<td>Busto</td>
											<% @product.sizes.each do |size| %>
											<td class="t_<%=size.size%>"><%=size.sizeBust%></td>
											<% end %>
										</tr>
										<% end %>
										<% if (!@product.sizes.first.sizeBust.blank?) %>
										<tr>
											<td>Manga</td>
											<% @product.sizes.each do |size| %>
											<td class="t_<%=size.size%>"><%=size.sizeSleeve%></td>
											<% end %>
										</tr>
										<% end %>
										<% if (!@product.sizes.first.sizeWaist.blank?) %>
										<tr>
											<td>Cintura</td>
											<% @product.sizes.each do |size| %>
											<td class="t_<%=size.size%>"><%=size.sizeWaist%></td>
											<% end %>
										</tr>
										<% end %>
										<% if (!@product.sizes.first.sizeHip.blank?) %>
										<tr>
											<td>Quadril</td>
											<% @product.sizes.each do |size| %>
											<td class="t_<%=size.size%>"><%=size.sizeHip%></td>
											<% end %>
										</tr>
										<% end %>
										<% if (!@product.sizes.first.sizeThigh.blank?) %>
										<tr>
											<td>Coxa</td>
											<% @product.sizes.each do |size| %>
											<td class="t_<%=size.size%>"><%=size.sizeThigh%></td>
											<% end %>
										</tr>
										<% end %>
										<% if (!@product.sizes.first.sizeInseam.blank?) %>
										<tr>
											<td>Perna</td>
											<% @product.sizes.each do |size| %>
											<td class="t_<%=size.size%>"><%=size.sizeInseam%></td>
											<% end %>
										</tr>
										<% end %>
									</tbody>
								</table>
								<div class="info_title">Tamanho: <span id="spnTamanho" class="strong"></span></div>
								<% @product.sizes.each_with_index do |size, i|
									cl = (i==0) ? "active" : "" %>
								<a rel="<%=size.size%>" class="size_item" href="javascript:;" onclick="Product.SetSize('<%=size.id%>','<%=size.size%>');" id="size_<%=size.size%>"><div class="size"><%=size.size%></div><span class="overlay"></span></a>

								<% end %>

								<div class="clear"></div>
								<BR>
									
								<div class="info_title">Cor: <span id="spnCor"></span></div>
								<% @product.colors.each_with_index do |color, i| %>
								<% cl = (i==0) ? "active" : "" %>
								<a rel="<%=color.id%>" class="color_item" href="javascript:;" onclick="Product.SetColor('<%=color.id%>','<%=color.name%>');" ><img alt="" width="45" height="45"  src="<%=color.swatch.url%>"><span class="overlay"></span></a>
								<% end %>
								<form id="fCart" action="<%= sacola_add_path %>" method="post">
									<input type="hidden" name="product_id" value="<%=@product.id%>">
									<input type="hidden" name="size_id" id="size_id" value="">
									<input type="hidden" name="color_id" id="color_id" value="">
								</form>
								<div class="clear"></div><br>
<a class="addto-cart" href="javascript:;" onclick="Product.AddToCart();" style="text-indent: 0px;"><span><cufon class="cufon cufon-canvas" alt="Comprar " style="width: 39px; height: 30px;"><canvas width="55" height="34" style="width: 55px; height: 34px; top: -3px; left: -1px;"></canvas><cufontext>Comprar</cufontext></cufon></span></a>

								<div class="clear"></div>
								<div class="hr"></div>

								<h2 style="text-indent: 0px;"><cufon class="cufon cufon-canvas" alt="Informações do produto " style="width: 103px; height: 28px;"><canvas width="126" height="30" style="width: 126px; height: 30px; top: -2px; left: -1px;"></canvas><cufontext>Informações do produto </cufontext></cufon></h2>
								
								<h3>Descrição</h3>
								<p><%=@product.description%></p>
								
								<h3>Composição</h3>
								<p><%=@product.composition%></p>
								
								<h3>Cuidados</h3>
								<p><%=@product.composition%></p>
								
							</div> <!-- .description -->

						</div> <!-- #product-info -->



						<div class="clear"></div>


					</div> <!-- end .post -->
				</div> <!-- #left-column -->
	
				<div id="sidebar">
					<div class="widget widget_recent_entries" id="recent-posts-3">		
						<h4 class="widgettitle" style="text-indent: 0px;"><cufon class="cufon cufon-canvas" alt="Produtos Relacionados" style="width: 63px; height: 30px;"><canvas width="78" height="34" style="width: 78px; height: 34px; top: -3px; left: -1px;"></canvas><cufontext>Produtos Relacionados</cufontext></cufon></h4>
						<div class="widget-content">						
							<div id="related-products">
								<ul>
									<% @related_products.each do |product| %>
									<li>
										<h4><a href="<%=product_url product%>"><img alt="" src="<%=product.assets.first.photo.url(:related)%>"><span class="overlay"></span><br /><%=product.name%></a></h4>
									</li>
									<div class="clear"></div>
									<% end %>
								</ul>
							</div>

						</div> <!-- .widget-content -->
						
					</div> <!-- end .widget -->
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
	</div> <!-- .container -->
</div>

<script type="text/javascript" src="http://sandbox.drope.org/wp-content/themes/eStore/js/jquery.cycle.all.min.js"></script> 

<script type="text/javascript">

var $controller = jQuery('#product-thumbs'), $slider_control_tab = $controller.find('a');
var ordernum;				
	
function gonext(this_element){
		
	$controller.find("a.active").removeClass('active');
	this_element.addClass('active');
	ordernum = this_element.attr("rel").split(",")[0].split(":")[1];
	if (typeof interval != 'undefined') {
		clearInterval(interval);
		auto_rotate();
	};
}
	
$slider_control_tab.click(function(){
	gonext(jQuery(this));
	return false;
});


</script>

<script type="text/javascript">



$(document).ready(function() {

	
	 Product = {

		Init: function(){
			
			$('[class^="size_item"]').each( function() {
				size = $(this).attr('rel');
				total = 0;
				if (Product.Variations[size] != undefined) {
					$.each(Product.Variations[size], function(key, value) {
						total += value;
					});
				}
				if (total ==0) $(this).addClass('unavailable');
			});
			
			$('[class^="color_item"]').each( function() {
				color = $(this).attr('rel');
				total = 0;
				$.each(Product.Variations, function(key, value) {
					if (value[color] != undefined) {
						total += value[color];
					}
				});
				if (total ==0) $(this).addClass('unavailable');
			});
		},
		SetSize: function(id,size) {
			if ($(".size_item.unavailable[rel='" + size + "']").length > 0) {
//				alert("em falta");
				return;
			}
			$("#size_id").val(id);
			$('[class^="size_item"]').each( function() {
				$(this).removeClass('active');
			});
			$("[class^='size_item'][rel='" + size + "']").addClass('active');
			
			$('[class^="color_item"]').each( function() {
				$(this).removeClass('unavailable');
				color = $(this).attr('rel');
				total = 0;
				if (Product.Variations[size][color] != undefined) {
					total += Product.Variations[size][color];
				}
				
				if (total ==0) {
					$(this).addClass('unavailable');
					if ( color == $("#color_id").val()) { $("#color_id").val(""); }
				} else {
					$("#spnTamanho").html(size);
				}
			});

			$("#t_medidas td,th").each( function() {
				$(this).removeClass("active");
			});
			
			$(".t_" + size).each( function() {
				$(this).addClass("active");
			});
			
		},
		SetColor: function(id,color) {
			if ($(".color_item.unavailable[rel='" + id + "']").length > 0) {
//				alert("em falta");
				return;
			}
			$("#color_id").val(id);
			$('[class^="color_item"]').each( function() {
				$(this).removeClass('active');
			});
			$("[class^='color_item'][rel='" + id + "']").addClass('active');
			$("#spnCor").html(color);
		},
		AddToCart: function() {
//			alert($("#size_id").val());
//			alert($("#color_id").val());
			
			if ($("#size_id").val() && $("#color_id").val()) {
				$("#fCart").submit();
			}
		},
		<%=variations_to_js @product%>
	}
	Product.Init();

});



</script>