<div id="content">
	<div class="container clearfix">	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">

					<div class="post" style="float:left">
						<h4 class="title" style="text-indent: 0px;">Já tenho cadastro</h4>
						Preencha os dados abaixo para entrar na sua conta
						<p>
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  					<p><%= f.label :email, "E-mail" %><br />
  						<%= f.text_field :email %></p>

  					<p><%= f.label :password, "Senha" %><br />
  					<%= f.password_field :password %></p>

  					<% if devise_mapping.rememberable? -%>
    				<p><%= f.check_box :remember_me %> <%= f.label :remember_me, "Manter-me conectado" %></p>
  					<% end -%>

						<a class="btn action" style="float:left; color: #fff" href="javascript:;" onclick="document.forms[1].submit();">Entrar<span></span></a>

						<% end %>

					</div>

					<div class="post">
						<h3 class="title" style="text-indent: 0px;">Esta é minha primeira compra</h3>

						Para continuar, é necessário cadastrar-se em nossa loja. Assim, você economiza para acompanhar seu pedido, ver seu histórico de pedidos e muito mais! O cadastro é rápido e seguro.
						
						
						<a class="btn action" style="float:left; color: #fff" href="<%=new_user_registration_path%>">Clique aqui e faça seu cadastro<span></span></a>



				</div> <!-- #left-column -->
	
				<div id="sidebar">

					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>