<div id="content">
	<div class="container clearfix">

		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					
					<table cellspacing="0" class="cart" id="cart">
					<caption>Alteração dos meus dados de cadastro</caption>
					</table>
					
					<div class="" style="float:left;padding: 8px 50px 34px 42px; ">
						

						<%= form_for(@user, :url => minha_conta_dados_path, :html => { :class => "stdForm" , :id => "edit_user"}, :method => "put") do |f| %>
						<fieldset class="stdC" id="accountInfo">

							<%= f.fields_for :user_info do |f_info| %>
							<li>
								<%= f_info.label :name, 'Nome Completo' %>
								<%= f_info.text_field :name, :style=>"width:400px" %> <p class="fNote">Seu nome completo.</p>
							</li>
							<li>
								<%= f_info.label :cpf %>
								<%= f_info.text_field :cpf %> <p class="fNote">Necessário para emissão de nota fiscal.</p>
							</li>
							<li>
								<%= f_info.label :phone_number, 'Telefone de contato' %>
								<%= f_info.text_field :phone_ddd, :size=>2, :style=>"width:30px" %><%= f_info.text_field :phone_number, :style=>"width:155px" %> <p class="fNote">Caso ocorra algum imprevisto com seu pedido.</p>
							</li>
							<% end %>
							<%= f.fields_for :user_address do |f_address| %>
							<li>
								<%= f_address.label :cep, 'Cep'%>
								<%= f_address.text_field :cep, :onchange=>"LoadCep();" %> <p class="fNote">Cep do local de entrega do pedido.</p>
							</li>
							<li>
								<%= f_address.label :endereco, 'Endereço de entrega' %>
								<%= f_address.text_field :endereco, :style=>"width:400px" %> <p class="fNote">Exemplo: Avenida Paulista</p>
							</li>
							<li>
								<%= f_address.label :numero, 'Número' %>
								<%= f_address.text_field :numero%> <p class="fNote"></p>
							</li>
							<li>
								<%= f_address.label :complemento, 'Complemento' %>
								<%= f_address.text_field :complemento, :style=>"width:400px" %> <p class="fNote">Complemento, caso exista. Exemplo: apartamento 51</p>
							</li>
							<li>
								<%= f_address.label :cidade %>
								<%= f_address.text_field :cidade %> <p class="fNote"></p>
							</li>
							<li>
								<%= f_address.label :estado %>
								<!-- <select name="user[user_address_attributes][estado]" id="user_user_address_attributes_estado">-->
								<%= f_address.select(:estado,[
													['AC'],
													['AL'],
													['AM'],
													['AP'],
													['BA'],
													['CE'],
													['DF'],
													['ES'],
													['GO'],
													['MA'],
													['MG'],
													['MS'],
													['MT'],
													['PA'],
													['PB'],
													['PE'],
													['PI'],
													['PR'],
													['RJ'],
													['RN'],
													['RO'],
													['RR'],
													['RS'],
													['SC'],
													['SE'],
													['SP'],
													['TO']]) %>

								<p class="fNote"></p>
							</li>
							<% end %>
						</ol>
						</fieldset>

						<a class="btn action" style="float:left; color: #fff" href="javascript:;" onclick="$('#edit_user').submit();">Alterar dados<span></span></a>

						<% end %>

					</div>
				</div> <!-- left column -->
			</div> <!-- main content-->
		</div> <!-- main-area-->
	</div> <!-- container -->
</div> <!-- content -->
	


	
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/messages_ptbr.js"></script>
	<script type="text/javascript" src="//s3.amazonaws.com/annak-loja/assets/site/js/jquery.maskedinput-1.3.min.js"></script>
	
	
<script type="text/javascript">
$.validator.setDefaults({
	submitHandler: function(form) { 
		form.submit();
	}
});

jQuery.validator.addMethod("cep", function(value, element) {
	return this.optional(element) || /^\d{5}-\d{3}$/.test(value);
}, "CEP inválido");


jQuery.validator.addMethod("cpf", function(value, element) {
	    value = value.replace('.','');
	    value = value.replace('.','');
	    cpf = value.replace('-','');
	    while(cpf.length < 11) cpf = "0"+ cpf;
	    var expReg = /^0+$|^1+$|^2+$|^3+$|^4+$|^5+$|^6+$|^7+$|^8+$|^9+$/;
	    var a = [];
	    var b = new Number;
	    var c = 11;
	    for (i=0; i<11; i++){
	        a[i] = cpf.charAt(i);
	        if (i < 9) b += (a[i] * --c);
	    }
	    if ((x = b % 11) < 2) { a[9] = 0 } else { a[9] = 11-x }
	    b = 0;
	    c = 11;
	    for (y=0; y<10; y++) b += (a[y] * c--);
	    if ((x = b % 11) < 2) { a[10] = 0; } else { a[10] = 11-x; }
	    if ((cpf.charAt(9) != a[9]) || (cpf.charAt(10) != a[10]) || cpf.match(expReg)) return false;
	    return true;
	}, "Informe um CPF válido."); // Mensagem padrão

$("#edit_user").validate({
	rules: {
		'user[user_info_attributes][name]': "required",
		'user[user_info_attributes][cpf]': {
			cpf: true
		},
		'user[user_info_attributes][phone_ddd]': {
			required: true
		},
		'user[user_info_attributes][phone_number]': {
			required: true
		},
		'user[user_address_attributes][cep]': {
			required: true,
			cep: true
		},
		'user[user_address_attributes][endereco]': {
			required: true
		},
		'user[user_address_attributes][numero]': {
			required: true
		},
		'user[user_address_attributes][cidade]': {
			required: true
		},
		'user[user_address_attributes][estado]': {
			required: true
		}
		
	},
	messages: {
		'user[user_info_attributes][name]': {
			required: "Informe seu nome completo."
		},
		'user[user_info_attributes][cpf]': {
			cpf: "Informe um CPF válido."
		},
		'user[user_info_attributes][phone_ddd]': {
			required: "Informe o ddd do seu telefone."
		},
		'user[user_info_attributes][phone_number]': {
			required: "Informe o número do seu telefone."
		},
		'user[user_address_attributes][cep]': {
			required: "Informe o seu cep.",
			cep: "Informe um CEP válido."
		},
		'user[user_address_attributes][endereco]': {
			required: "Informe seu endereço."
		},
		'user[user_address_attributes][numero]': {
			required: "Informe o número."
		},
		'user[user_address_attributes][cidade]': {
			required: "Informe a sua cidade."
		},
		'user[user_address_attributes][estado]': {
			required: "Selecione o seu estado."
		}
	}
});
	$(document).ready(function() {
		

		
		
	});

	$("#user_user_info_attributes_cpf").mask("999.999.999-99");
	$("#user_user_info_attributes_phone_ddd").mask("99");
	$("#user_user_info_attributes_phone_number").mask("9999-9999");
	$("#user_user_address_attributes_cep").mask("99999-999");


function LoadCep() {
	
	$.ajax({
				type: "POST",
			  url: "/sacola/logradouro_by_cep",
			  data: "cep=" + $("#user_user_address_attributes_cep").val(),
				dataType: "json",
				success: function (result) {
					if (result.status == 1) {
						$("#user_user_address_attributes_endereco").val(result.data.endereco);
						$("#user_user_address_attributes_cidade").val(result.data.cidade);
						$("#user_user_address_attributes_estado").val(result.data.estado);
					} else {
						alert('erro');
					}
				}
			});
	
	
}	
	
</script>