<div id="content">
	<div class="container clearfix">

		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					<div class="post">
					
						<h3>Pedido número <%=@order.number%></h3>
						<br>

						<table style="width:100%">
							<caption>Resumo do pedido</caption>
							<tr>
								<th>Data</th>
								<th>Número</th>
								<th>Produtos</th>
								<th>Frete</th>
								<th>Valor Total</th>
							</tr>
							<tr>
								<td><%= l @order.created_at, :format => :datetime %></td>
								<td><%=@order.number%></td>
								<td><%=currency @order.totalItems%></td>
								<td><%=currency @order.totalShipping%></td>
								<td><%=currency @order.totalOrder%></td>
							</tr>
						</table>
						<table style="width:100%">
							<caption>Histórico do pedido</caption>
							<tr>
								<th>Data</th>
								<th>Status</th>
							</tr>
							<% @order.order_histories.each do |h| %>
							<tr>
								<td><%= l h.created_at, :format => :datetime %></td>
								<td><%= h.order_status.status%></td>
							</tr>
							<% end %>
						</table>
						<table style="width:100%">
							<caption>Informações de entrega</caption>
							<tr>
								<th>Tipo</th>
								<th>Endereço</th>
							</tr>
							<tr>
								<td><ul class="details"><li><%=@order.shipping_type%></ul></td>
								<td style="text-align: left">
									<ul class="details">
									<li><%=@order.order_ship_address.endereco%>, <%=@order.order_ship_address.numero%> <%=@order.order_ship_address.complemento%>
									<li><%=@order.order_ship_address.cep%>
									<li><%=@order.order_ship_address.cidade%> - <%=@order.order_ship_address.estado%>
									</ul>
								</td>
							</tr>
						</table>
						<table style="width:100%">
							<caption>Produtos</caption>
							<tr>
								<th>Tipo</th>
								<th>Status</th>
							</tr>
							<% @order.order_items.each do |item|%>
							<tr>
								<td class="desc">
									<a href="<%=product_url item.variation.product%>" class="prodImg"><img src="<%=item.variation.color.assets.first.photo.url(:thumb)%>"></a>
									<ul class="details" style="margin: 0 0 10px 110px;">

									<li class="strong"><strong><a title="<%=item.variation.product.name%>" href="<%=product_url item.variation.product%>" class="name strong"><%=item.variation.product.name%></a></strong></li>
									<li><b>Cor:</b> <%=item.variation.color.name%></li>
									<li><b>Tamanho:</b> <%=item.variation.size.size%></li>
									</ul>

								</td>

								<td><%=currency item.price%></td>
							</tr>
							<% end%>
						</table>
						<br><br>
						<a class="btn secondary" style="float:left" href="<%=minha_conta_pedidos_path%>">&lt; Voltar para lista de pedidos<span></span></a>
						
						
					</div>
				</div> <!-- left column -->
			</div> <!-- main content-->
		</div> <!-- main-area-->
	</div> <!-- container -->
</div> <!-- content -->
	
