<%= form_for(@product, :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :sizeType %><br />
    <%= f.text_field :sizeType %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :is_promo %><br />
    <%= f.check_box :is_promo %>
  </div>
  <div class="field">
    <%= f.label :is_new %><br />
    <%= f.check_box :is_new %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
	<%= collection_select(:product, :category_id, Category.all, :id, :name) %>
  </div>

  <% f.fields_for :colors do |builder| %>
    <%= render "color_fields", :f => builder %>
  <% end %>

	<p><%= link_to_add_fields "Add Color", f, :colors %></p>

  <% f.fields_for :sizes do |builder| %>
    <%= render "size_fields", :f => builder %>
  <% end %>

	<p><%= link_to_add_fields "Add Size", f, :sizes %></p>


  <% f.fields_for :assets do |builder| %>
    <%= render "asset_fields", :f => builder %>
  <% end %>

	<p><%= link_to_add_fields "Add Asset", f, :assets %></p>

  <% f.fields_for :variations do |builder| %>
    <%= render "variation_fields", :f => builder %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
