  <div class="fields">
    <%= f.label :size, "Tamanho" %>: <%= f.text_field :size %><br />
    <%= f.label :sizeBust, "Busto" %>: <%= f.text_field :sizeBust %><br />
    <%= f.label :sizeSleeve, "Manga" %>: <%= f.text_field :sizeSleeve %><br />
    <%= f.label :sizeWaist, "Cintura" %>: <%= f.text_field :sizeWaist %><br />
    <%= f.label :sizeHip, "Quadril" %>: <%= f.text_field :sizeHip %><br />
    <%= f.label :sizeThigh, "sizeThigh" %>: <%= f.text_field :sizeThigh %><br />
    <%= f.label :sizeInseam, "sizeInseam" %>: <%= f.text_field :sizeInseam %><br />

  	<%= link_to_remove_fields "remove", f %>

  </div>
 
