<div id="footer">
	<div class="container clearfix">
		
		<div class="footer_box">
			<h4>ATENDIMENTO</h4>
			<a href="mailto:loja@annak.com.br">email: loja@annak.com.br</a>
			<a href="http://twitter.com/#!/loja_annak" target="_blank">twitter: @loja_annak</a>
		</div>
		
		<div class="footer_box">
			<h4>SOBRE NÓS</h4>
			<a href="<%=politica_de_privacidade_path%>">Política de privacidade</a>
			<a href="<%=seguranca_path%>">Segurança</a>
			<a href="<%=fale_conosco_path%>">Fale Conosco</a>
			<a href="http://www.annak.com.br" target="_blank">Conheça nosso blog</a>
			<a href="<%=quem_somos_path%>">Quem somos</a>
		</div>
		
		<div class="footer_box">		
			<h4>AJUDA</h4>
			<a href="<%=prazo_entrega_path%>">Prazos de entrega</a>
			<a href="<%=trocas_e_devolucoes_path%>">Trocas e devoluções</a>
			<a href="<%=guia_de_medidas_path%>">Guia de medidas</a>
			<a href="<%=perguntas_frequentes_path%>">Perguntas Frequentes</a>
			<a href="<%=formas_de_pagamento_path%>">Formas de Pagamento</a>
		</div>
		
		<div class="footer_box">
			<h4>CADASTRO</h4>
			<a href="">Faça seu cadastro</a>
			<a href="">Meu cadastro</a>
			<a href="">Meus pedidos</a>
		</div>
		
		<div class="footer_box">		
			<h4>MÍDIAS SOCIAIS</h4>
			<a href="http://www.annak.com.br/" target="_blank">Blog</a>
			<a href="http://www.facebook.com/pages/AnnaK-Modas/116302145096421" target="_blank">Facebook</a>
			<a href="http://www.orkut.com.br/Main#Community?cmm=110577951" target="_blank">Orkut</a>
			<a href="http://twitter.com/#!/loja_annak" target="_blank">Twitter</a>
		</div>
		
		<div class="clear"></div>
		
		<br><br>
		<div class="footer_box">		
			<p>Formas de pagamento:<br>
				<img src="/img/formas-pagamento.gif">
		</div>
	</div> <!-- container-->
</div> <!-- #footer-->

<script src="http://sandbox.drope.org/wp-content/themes/eStore/js/cufon-yui.js" type="text/javascript"></script>
<script src="//s3.amazonaws.com/annak-loja/assets/site/fonts/Raleway_250.font.js" type="text/javascript"></script>
<script src="http://sandbox.drope.org/wp-content/themes/eStore/js/League_Gothic_400.font.js" type="text/javascript"></script>

<script type="text/javascript">
//<![CDATA[
	Cufon.replace('#featured span.tag',{textShadow:'1px 1px 0px rgba(0,0,0,0.4)'})('h3#deals-title')('#content span.tag',{textShadow:'1px 1px 0px #131212'})('h4.widgettitle',{textShadow:'1px 1px 0px #ffffff'})('ul#secondary-menu li a strong',{textShadow:'1px 1px 0px #1d1d1d'})('span.price-single',{textShadow: '1px 1px 1px rgba(0,0,0,0.4);'})('.addto-cart',{textShadow: '1px 1px 1px rgba(0,0,0,0.4);'})('.wp-pagenavi span.current')('.wp-pagenavi a.page');
	Cufon.set('fontFamily', 'Raleway');
	Cufon.replace('.description h2.title')('.item-content h4')('.product h3')('.post h1')('.post h2')('.related-items span');
	jQuery('.cufon-enabled #featured span.tag, .cufon-enabled h3#deals-title, .cufon-enabled #content span.tag, .cufon-enabled h4.widgettitle, .cufon-enabled ul#secondary-menu li a strong, .cufon-enabled span.price-single, .cufon-enabled .addto-cart, .cufon-enabled .wp-pagenavi span.current, .cufon-enabled .wp-pagenavi a.page, .cufon-enabled .description h2.title, .cufon-enabled .item-content h4, .cufon-enabled .product h3, .cufon-enabled .post h1, .cufon-enabled .post h2, .cufon-enabled .post h3, .cufon-enabled .post h4, .cufon-enabled post h5, .cufon-enabled .post h6, .cufon-enabled .related-items span').css('text-indent','0px');
	
	Cufon.now();
	
//]]>
</script>
