<div id="header">
  <div class="container clearfix">
		<a href="<%=root_path%>"><img src="<%=root_path%>img/logo.png" alt="AnnaK Loja Online" id="logo"/></a>
		<div style="font-size:10px; text-align:right; padding-right:10px">
			<% if user_signed_in? %>
			    Olá <%= current_user.email %>! [ <a href="">Minha conta</a> | <%= link_to "Sair", destroy_user_session_path %> ]
			<% else %>
			    Bem vindo! <%= link_to "Cadastre-se", new_user_registration_path %> ou <%= link_to "faça seu login", new_user_session_path %>
			<% end %>

			
		</div>
		<ul id="top-menu" class="nav clearfix">
		  <li><a href="<%=guia_de_medidas_path%>">Guia de medidas</a></li>
			<li><a href="<%=trocas_e_devolucoes_path%>">Trocas e devoluções</a></li>
			<li><a href="<%=prazo_entrega_path%>">Prazo de entrega</a></li>
			<li><a href="<%=ajuda_path%>">Ajuda</a></li>
		</ul>
		<div id="search-bar">
			<form method="get" id="searchform1" action="http://sandbox.drope.org">
				<input type="text" value="buscar na loja..." name="s" id="searchinput" />
				<input type="image" src="http://sandbox.drope.org/wp-content/themes/eStore/images/search-icon.png" id="searchsubmit" />
			</form>
		</div><!-- #search-bar -->
		<div id="menu">
			<!-- 
				<div style="color:#FFF; width:100; float:right; height: 50px; position:relative; padding: 6px 18px 0 0px; text-align:right">
					<% c = count_cart_items %>
					<% if (c > 1)%>
					<%=c%> ítens na sacola<br />
					<% else%>
					<%=c%> ítem na sacola<br />
					<% end%>
					
					<a href="<%=sacola_path%>"><img src="<%root_path%>/images/btn-sacola.png"></a>
					
				</div>
				-->
			<ul id="secondary-menu" class="nav clearfix">
				<% Category.all.each do |cat| %>
				<li class="menu-item menu-item-type-taxonomy"><a href="<%=root_path%>categoria/<%=cat.id%>/<%=cat.name%>"><strong><%=cat.name%></strong><span></span></a></li>
				<% end %>
				<li class="menu-item menu-item-type-taxonomy" style="float:right"><a href="<%=sacola_path%>"><img src="<%root_path%>/img/teste-sacola2.png" style="position:relative; top: -4px; padding-right: 10px;"></a><a href="<%=sacola_path%>"><strong>MINHA SACOLA</strong><span>
					<% c = count_cart_items %>
					<% if (c == 0)%>
					sacola vazia
					<% end %>
					<% if (c == 1)%>
					1 ítem na sacola<br />
					<% end %>
					<% if (c > 1)%>
					<%=c%> ítens na sacola<br />
					<% end%>
					</span></a></li>
	 		</ul>

		</div><!-- #menu -->
	</div><!-- .container -->
</div><!-- #header -->