<div id="header">
  <div class="container clearfix">
		<a href="<%=root_path%>"><img src="http://sandbox.drope.org/wp-content/themes/eStore/images/logo.png" alt="Logo" id="logo"/></a>
		<div style="font-size:10px; text-align:right; padding-right:10px">
			<% if user_signed_in? %>
			    Olá <%= current_user.email %>! [ <a href="">Minha conta</a> | <%= link_to "Sair", destroy_user_session_path %> ]
			<% else %>
			    Bem vindo! <%= link_to "Cadastre-se", new_user_registration_path %> ou <%= link_to "faça seu login", new_user_session_path %>
			<% end %>

			
		</div>
		<ul id="top-menu" class="nav clearfix">
		  <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-39"><a href="http://sandbox.drope.org/?page_id=34">Guia de medidas</a></li>
			<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-40"><a href="http://sandbox.drope.org/?page_id=32">Trocas e devoluções</a></li>
			<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-38"><a href="http://sandbox.drope.org/?page_id=36">Prazo de entrega</a></li>
			<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-41"><a href="http://sandbox.drope.org/?page_id=30">Ajuda</a></li>
		</ul>
		<div id="search-bar">
			<form method="get" id="searchform1" action="http://sandbox.drope.org">
				<input type="text" value="buscar na loja..." name="s" id="searchinput" />
				<input type="image" src="http://sandbox.drope.org/wp-content/themes/eStore/images/search-icon.png" id="searchsubmit" />
			</form>
		</div><!-- #search-bar -->
		<div id="menu">
				<div style="color:#FFF; width:100; float:right; height: 50px; position:relative; padding: 6px 18px 0 0px; text-align:right">
					<% c = count_cart_items %>
					<% if (c > 1)%>
					<%=c%> ítens na sacola<br />
					<% else%>
					<%=c%> ítem na sacola<br />
					<% end%>
					<a href="<%=sacola_path%>"><img src="<%root_path%>/images/btn-sacola.png"></a>
					
				</div>
			<ul id="secondary-menu" class="nav clearfix">
				<% Category.all.each do |cat| %>
				<li class="menu-item menu-item-type-taxonomy"><a href="<%=root_path%>categoria/<%=cat.id%>/<%=cat.name%>"><strong><%=cat.name%></strong><span></span></a></li>
				<% end %>

	 		</ul>

		</div><!-- #menu -->
	</div><!-- .container -->
</div><!-- #header -->